#app {
  width: 100vw;
  height: 100vh;
  background-image: url("../imgs/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#app .main {
  width: 61.3889vw;
  padding-top: 28.3854vh;
  margin: 0 auto;
  box-sizing: border-box;
}

#app .main .logo {
  width: 100%;
  padding: 0 6.3889vw 0;
  box-sizing: border-box;
}

#app .main .btn {
  width: 100%;
  height: 7.3438vh;
  line-height: 7.3438vh;
  margin-top: 9.375vh;
  background-color: #a45439;
  border-radius: 4.401vh;
  text-align: center;
  font-size: 2.6042vh;
  color: #ffffff;
}
